[Unit]
Description=temp storage

[Service]
User=root
Group=root
Restart=always
ExecStart=/bin/bash -c '/usr/bin/store'
EnvironmentFile=/usr/local/env/govee-store.env

[Install]
WantedBy=multi-user.target